# IDEs
.idea/
.vscode/

# Build and debug artefacts
logs/
*.log
*log.json
temp/

# Vendor packages
node_modules/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.tfvars
!*.example.tfvars
*.tfplan
